/*-------------------------------------------------------------------------|
| Importación de Tailwind                                                  |
|-------------------------------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------------------------------------------|
| Importación de las fuentes                                               |
|-------------------------------------------------------------------------*/
// Fuentes utilizadas: Poppins-black, Poppins
@import 'fuentes';



/*-------------------------------------------------------------------------|
| Responsive view 450px                                                    |
|-------------------------------------------------------------------------*/
@media (min-width: 450px) {

}

@media (max-width: 450px) {

}

/*-------------------------------------------------------------------------|
| Responsive view 768px                                                    |
|-------------------------------------------------------------------------*/
@media (min-width: 768px) {

}

/*-------------------------------------------------------------------------|
| Responsive view 1024px                                                   |
|-------------------------------------------------------------------------*/
@media (min-width: 1024px) {

}

/*-------------------------------------------------------------------------|
| Responsive view 1280px                                                   |
|-------------------------------------------------------------------------*/
@media (min-width: 1280px) {

}

/*-------------------------------------------------------------------------|
| Responsive view 1536px                                                   |
|-------------------------------------------------------------------------*/
@media (min-width: 1536px) {

}


/*-------------------------------------------------------------------------|
| Estilos de desarollo, borrar al finalizar. (herramienta desarollo)       |
|-------------------------------------------------------------------------*/
.bg-dev {
    background-color: #e879f91a;
    background-image: linear-gradient(135deg, #0aff2b80 10%, transparent 0, transparent 50%, #46ef4e80 0, #46ef4e80 60%, transparent 0, transparent);
    background-size: 7.07px 7.07px;
}
.bg-dev-2 {
    background-color: #e879f91a;
    background-image: linear-gradient(135deg, #0a37ff80 10%, transparent 0, transparent 50%, #5146ef80 0, #5f46ef80 60%, transparent 0, transparent);
    background-size: 7.07px 7.07px;
}